%html{:'ng-app' => "app"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:'http-equiv' => "X-UA-Compatible", :content => "IE=edge"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %title Chat Room Logger
    %link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"}
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
    %script{:src => "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"}
    %script{:src => "//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.js"}
    %script{:src => "//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular-route.js"}
    %script{:src => "/ui-bootstrap-tpls-0.11.0.min.js"}
    %script{:src => "/client.js"}

    :sass
      body
        :padding-top 50px
      #content
        :padding 40px 15px

  %body{:'ng-controller' => "RoomCtrl"}
    %div.navbar.navbar-default.navbar-fixed-top
      %div.header
        %a.navbar-brand{:href => "/"} Chat Room Logger
        - if @user
          %ul.nav.navbar-nav.pull-right
            %li.dropdown
              %a.dropdown-toggle.active#user{:role => "button", :'data-toggle' => "dropdown"}
                = "#{@user} さん"
                %span.caret
              - if @user_id != DB::GUEST_ID
                %ul.dropdown-menu{:role => "menu", :'aria-lablledby' => "user"}
                  %li{:role => "presentation"}
                    %a{:role => "menuitem", :href => "/setting"} Setting

    %div.container#content
      = yield
